<!--<div th:fragment="footer">-->
    <!--<div class="footer">-->

        <!--<div class="uk-container uk-container-center">-->
            <!--<hr>-->
            <!--<div class="footer-content">-->
                <!--<div class="uk-grid">-->
                    <!--&lt;!&ndash; <div class="uk-width-1-1 uk-text-center">-->
                        <!--<a href="#"><img src="img/logo.png" width="240"></a>-->
                    <!--</div>-->
                     <!--&ndash;&gt;-->
                    <!--<div class="uk-width-1-2">-->
                        <!--<div class="copyright">-->
                            <!--©2018-2019 TDB Surveys Limited-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="uk-width-1-2">-->
                        <!--<div class="stats">-->
                            <!--<span class="text-green">172,647,047</span> SURVEYS TAKEN SO FAR-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->