<head th:fragment="head">
    <meta charset="utf-8">
    <title>Twitter</title>
    <meta name="description" content="Twitter Like application"/>

    <link rel="stylesheet" th:href="@{/css/uikit.almost-flat.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/front.css}"/>
    <link rel="stylesheet" th:href="@{/css/register.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
</head>