<!--<div th:fragment="header">-->
    <!--<div class="header" style="padding:21px 0 20px 0;">-->
        <!--<div class="uk-container uk-container-center">-->
            <!--<div class="uk-grid">-->
                <!--<div class="uk-width-1-3">-->
                    <!--<a href="/"><img th:src="@{/img/logo.png}" width="240"></a>-->
                <!--</div>-->
                <!--<div class="uk-width-2-3">-->
                    <!--<div class="uk-text-right head-right">-->
                        <!--<a href="/login" th:if="${notauth == 'false'}" class="serrat transition link">LOGIN <i class="uk-icon-user uk-margin-small-left"></i></a>-->
                        <!--<a href="/logout" th:if="${auth}" class="serrat transition link"><span th:text="'Welcome ' + ${auth}"> Hi User</span> LOG OUT<i class="uk-icon-user uk-margin-small-left"></i></a>-->
                        <!--<a href="/surveys" class="uk-button uk-button-large btn-orange serrat">TAKE THE SURVEY</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->


