body {
    background-color: #e6ecf0;
}

#container {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 50% 20%;
    grid-column-gap: 10px;
    padding: 20px;
    padding: 0 10px;
    background-color: white;
    background-color: #e6ecf0;
    font-family: "Segoe UI",Arial,sans-serif;
}

#tweet {
    height: 30px;
    margin-top: 12px;
    margin-left: 10px;
    border-radius: 30px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


.picture {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.picture-mini {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 8px 10px;
}

#container #left-side {
    padding: 10px;
}
#container #news-feed {
    display: flex;
}
#container #right-side {
    display: flex;
}

#container #left-side .left-header {
    display: flex;
}
#container #left-side .left-header .picture {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

#container #left-side .left-header .user-field {
    margin-left: 20px;
}

#container #left-side .left-content {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

#container #news-feed {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container #news-feed .tweet-box {
    display: flex;
    width: 100%;
    padding: 0 20px;
    background-color: #E8F5FD;
}

#container #news-feed .tweet-box input {
    width: 100%;
    padding: 0 10px;
    height: 38px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px !important;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
    font-family: "Segoe UI",Arial,sans-serif;
}
#container #news-feed .tweets {
    padding: 5px;
    width: 100%;
}
#container #news-feed .tweet-box input::placeholder {
    color: #1DA1F2;;
    opacity: 1; /* Firefox */
}

#container #news-feed .tweet-box input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #1DA1F2;
}

#container #news-feed .tweet-box input::-ms-input-placeholder { /* Microsoft Edge */
    color: #1DA1F2;
}
#container #news-feed .pic-field {
    display: flex;
}
#container #news-feed .pic-field .name-field {
    display: flex;
    margin: 14px 10px;
}
#container #news-feed .pic-field .name-field div{
    margin-left: 8px;
}
#container #news-feed .tweets .per-tweet  {
    width: 100%;
    margin: 2px 0;
    background-color: white;
    cursor: pointer;
}
#container #news-feed .tweets .per-tweet:hover{
    background-color: #f5f8fa;

}
#container #news-feed .tweets .per-tweet .tweet-content {
    margin-left: 60px;
    padding: 10px;
}

#container #news-feed .tweets .per-tweet .tweet-operation {
    display: flex;
    margin-left: 60px;
    padding: 10px;
}
#container #news-feed .tweets .per-tweet .tweet-operation > div {
    display: flex;
}
#container #news-feed .tweets .per-tweet .tweet-operation > div .icon {
    width: 20px;
    margin-right: 8px;
    cursor: pointer;
}
#container #news-feed .tweets .per-tweet .tweet-operation > div .numbers {
    margin-right: 20px;
}