
#static-register {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#static-register #left-half {
    margin-right: 50px;
}


input {
    width: 100%;
    padding: 0 10px;
    height: 38px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 12px;
    background-color: #fff;
}

#static-register .reg-form > div {
    display: flex;
}

#static-register .reg-form .title {
    min-width: 120px;
    margin: 16px 0;
    font-size: 12px;
}

#static-register .reg-form .field {
    min-width: 150px;
}

.show-error {
    padding: 5px 10px;
    display: none;
}
.show-success {
    padding: 5px 10px;
    display: none;
}