<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
<div id="container">
    <div id="left-side">
        <a href="/logout" th:if="${auth}" class="serrat transition link">LOG OUT<i class="uk-icon-user uk-margin-small-left"></i></a>
        <div th:if = "${auth}" class="left-header">
            <div class="picture"></div>
            <div class="user-field">
                <div class="user-name">
                    <span th:text="${auth}"></span>
                </div>
                <div class="user-tag">
                    <span th:text="${auth}"></span>
                </div>
            </div>
            <div id="self-user-id" style="display: none"><span th:text="${user.getId()}"></span></div>
        </div>
        <div class="left-content" th:if = "${user}">
            <div class="tweets">
                <div class="title">
                    Tweets
                </div>
                <div class="descript">14</div>
            </div>
            <div class="followers">
                <div class="title">Followers</div>
                <div class="descript" th:text="${user.getFollowing().size()}"></div>
            </div>
            <div class="following">
                <div class="title">Following</div>
                <div class="descript" th:text="${user.getFollowing().size()}"></div>
            </div>
        </div>
    </div>
    <div id="news-feed">
        <div class="tweet-box">
            <div class="picture-mini"></div>
            <input class="uk-input tweet-field" type="text" placeholder="What's happening?">
            <button class="uk-button uk-button-primary" id="tweet">Tweet</button>
        </div>
        <div class="tweets" th:each="tweet: ${tweets}">
            <div class="per-tweet">
                <div class="pic-field">
                    <div class="picture-mini"></div>
                    <div class="name-field">
                        <div class="name na" th:text="${tweet.getUser().getFirstname()}"></div>
                        <div class="tag na" th:text="${tweet.getUser().getLastname()}"></div>
                        <div class="time na" th:text="${tweet.getCreatedAt()}"></div>
                    </div>
                </div>
                <div class="tweet-content">
                    <div class="tweet-body" th:text="${tweet.getPosts()}">
                    </div>
                </div>
                <div class="tweet-operation">
                    <div class="reply">
                        <div class="icon">reply</div>
                        <div class="numbers">56</div>
                    </div>
                    <div class="re-tweet">
                        <div class="icon">re-tweet</div>
                        <div class="numbers">20</div>
                    </div>
                    <div class="like">
                        <div class="icon">like</div>
                        <div class="numbers">300</div>
                    </div>
                </div>
            </div>
            <hr class="uk-divider-icon">

            <!--<div class="per-tweet">-->
                <!--<div class="pic-field">-->
                    <!--<div class="picture-mini"></div>-->
                    <!--<div class="name-field">-->
                        <!--<div class="name na">Linkin parkgghjghjghjghgjghjgjg</div>-->
                        <!--<div class="tag na">@linkinpark</div>-->
                        <!--<div class="time na">15h</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="tweet-content">-->

                    <!--<div class="tweet-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, s-->
                        <!--ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim-->
                        <!--ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea-->
                        <!--commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum d-->
                        <!--olore eu fugiat nulla pariatur</div>-->
                <!--</div>-->
                <!--<div class="tweet-operation">-->
                    <!--<div class="reply">-->
                        <!--<div class="icon"><?xml version="1.0" encoding="iso-8859-1"?>-->
                            <!--&lt;!&ndash; Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
                            <!--<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
	 <!--viewBox="0 0 33 33" style="enable-background:new 0 0 33 33;" xml:space="preserve">-->
<!--<g>-->
	<!--<path d="M7.282,32.706c-0.081,0-0.163-0.02-0.237-0.06c-0.162-0.087-0.263-0.257-0.263-0.44v-7.124C2.405,22.806,0,18.821,0,13.828-->
		<!--C0,6.112,7.093,0.294,16.5,0.294S33,6.112,33,13.828c0,7.715-7.093,13.533-16.5,13.533c-0.309,0-0.612-0.017-0.916-0.033-->
		<!--l-0.02-0.001l-8.007,5.296C7.474,32.678,7.378,32.706,7.282,32.706z M16.5,1.294C7.664,1.294,1,6.683,1,13.828-->
		<!--c0,3.323,1.128,7.842,6.503,10.499c0.17,0.084,0.278,0.258,0.278,0.448v6.501l7.369-4.874c0.09-0.06,0.199-0.095,0.302-0.082-->
		<!--l0.186,0.01c0.286,0.016,0.571,0.031,0.861,0.031c8.836,0,15.5-5.388,15.5-12.533S25.336,1.294,16.5,1.294z"/>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--</svg>-->
                        <!--</div>-->
                        <!--<div class="numbers">210</div>-->
                    <!--</div>-->
                    <!--<div class="re-tweet">-->
                        <!--<div class="icon"><svg height="453pt" viewBox="0 -28 453.99791 453" width="453pt" xmlns="http://www.w3.org/2000/svg"><path d="m345.375 3.410156c-2.863281-2.847656-7.160156-3.695312-10.890625-2.144531s-6.164063 5.195313-6.164063 9.234375v53.359375c-54.011718 2.148437-81.058593 24.539063-85.191406 28.261719-27.25 22.363281-45.855468 53.527344-52.613281 88.121094-3.378906 16.714843-3.984375 33.871093-1.785156 50.78125l.007812.058593c.019531.148438.042969.300781.066407.449219l2.125 12.214844c.714843 4.113281 3.914062 7.351562 8.019531 8.117187 4.109375.765625 8.257812-1.105469 10.40625-4.6875l6.367187-10.613281c19.5625-32.527344 43.941406-54.089844 72.46875-64.085938 12.867188-4.550781 26.5-6.546874 40.128906-5.882812v55.265625c0 4.046875 2.441407 7.699219 6.183594 9.242187 3.746094 1.546876 8.050782.679688 10.90625-2.191406l105.675782-106.210937c3.894531-3.914063 3.878906-10.246094-.035157-14.140625zm2.949219 194.214844v-40.027344c0-4.90625-3.5625-9.089844-8.410157-9.871094-8.554687-1.378906-31.371093-3.570312-58.335937 5.878907-28.765625 10.078125-53.652344 29.910156-74.148437 59.050781-.058594-9.574219.847656-19.132812 2.707031-28.527344 6.078125-30.730468 21.515625-56.542968 45.878906-76.710937.214844-.175781.417969-.359375.617187-.554688.699219-.648437 26.097657-23.578125 81.609376-23.164062h.074218c5.523438 0 10.003906-4.480469 10.007813-10.003907v-39.136718l81.535156 81.125zm0 0"/><path d="m417.351562 294.953125c-5.519531 0-10 4.476563-10 10v42.261719c-.015624 16.5625-13.4375 29.980468-30 30h-327.351562c-16.5625-.019532-29.980469-13.4375-30-30v-238.242188c.019531-16.5625 13.4375-29.980468 30-30h69.160156c5.523438 0 10-4.476562 10-10 0-5.523437-4.476562-10-10-10h-69.160156c-27.601562.03125-49.96875 22.398438-50 50v238.242188c.03125 27.601562 22.398438 49.96875 50 50h327.351562c27.601563-.03125 49.96875-22.398438 50-50v-42.261719c0-5.523437-4.476562-10-10-10zm0 0"/></svg></div>-->
                        <!--<div class="numbers">55</div>-->
                    <!--</div>-->
                    <!--<div class="like">-->
                        <!--<div class="icon"><?xml version="1.0" encoding="iso-8859-1"?>-->
                            <!--&lt;!&ndash; Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  &ndash;&gt;-->
                            <!--<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
	 <!--viewBox="0 0 51.997 51.997" style="enable-background:new 0 0 51.997 51.997;" xml:space="preserve">-->
<!--<g>-->
	<!--<path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905-->
		<!--c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478-->
		<!--c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014-->
		<!--C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25-->
		<!--c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826-->
		<!--c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514-->
		<!--c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z"/>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--<g>-->
<!--</g>-->
<!--</svg>-->
                        <!--</div>-->
                        <!--<div class="numbers">1205</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div id="right-side"></div>
</div>

<script type="text/javascript" th:src="@{/js/confs.js}"></script>
<script>
    $('#tweet').click(function() {
        var dataToSend = {};
        var userId = $('#self-user-id span').text();
        dataToSend['posts'] = $('.tweet-field').val();
        dataToSend['id'] = "";
        console.log(dataToSend);

        $.post("/tweet", dataToSend, function(res) {
            console.log("Response:");
            console.log(res);
        }).fail(function(obj) {
            console.log( obj );
            console.log( "error" );
        });
    });

    $('#news-feed .tweet-field').on('click', function() {
        console.log("ACTIVE!");
    });
</script>
</body>

</html>