<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
<div id="container">
    <div id="left-side">
        <!--<a href="/logout" th:if="${auth}" class="serrat transition link">LOG OUT<i class="uk-icon-user uk-margin-small-left"></i></a>-->
        <div th:if = "${user}" class="left-header">
            <div class="picture"></div>
            <div class="user-field">
                <div class="user-name">
                    <span th:text="${user.username}"></span>
                </div>
                <div class="user-tag">
                    <span th:text="${user.firstname}"></span>
                </div>
            </div>
            <form action="#" th:action="@{/user/follow}" th:object="${users}" method="post">
                <input class="uk-input" type="hidden" name = "id" th:value="${user.getId()}">
                <input class="uk-input" type = "hidden" name = "username" th:value="${user.getUsername()}">
                <input class="uk-input" type = "hidden" name = "password" th:value="${user.getPassword()}">
                <input class="uk-input" type = "hidden" name = "firstname" th:value="${user.getFirstname()}">
                <input class="uk-input" type = "hidden" name = "lastname" th:value="${user.getLastname()}">
                <input class="uk-input" type = "hidden" name = "email" th:value="${user.getEmail()}">
                <button type = "submit" class="uk-button uk-button-large serrat log-button">Follow</button>
            </form>
        </div>
        <div class="left-content">
            <div class="tweets">
                <div class="title">
                    Tweets
                </div>
                <div class="descript">14</div>
            </div>
            <div class="followers">
                <div class="title">Followers</div>
                <div class="descript">51</div>
            </div>
            <div class="following">
                <div class="title">Following</div>
                <div class="descript">44</div>
            </div>

        </div>
    </div>
    <div id="news-feed">
        <div class="tweet-box">
            <div class="picture-mini"></div>
            <input class="uk-input tweet-field" type="text" placeholder="What's happening?">
        </div>
        <div class="tweets">
            <div class="per-tweet">
                <div class="pic-field">
                    <div class="picture-mini"></div>
                    <div class="name-field">
                        <div class="name na">Kodaline</div>
                        <div class="tag na">@kodaline</div>
                        <div class="time na">13h</div>
                    </div>
                </div>
                <div class="tweet-content">
                    <div class="tweet-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, s
                        ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum d
                        olore eu fugiat nulla pariatur
                    </div>
                </div>
                <div class="tweet-operation">
                    <div class="reply">
                        <div class="icon">reply</div>
                        <div class="numbers">56</div>
                    </div>
                    <div class="re-tweet">
                        <div class="icon">re-tweet</div>
                        <div class="numbers">20</div>
                    </div>
                    <div class="like">
                        <div class="icon">like</div>
                        <div class="numbers">300</div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="per-tweet">
                <div class="pic-field">
                    <div class="picture-mini"></div>
                    <div class="name-field">
                        <div class="name na">Linkin park</div>
                        <div class="tag na">@linkinpark</div>
                        <div class="time na">15h</div>
                    </div>
                </div>
                <div class="tweet-content">

                    <div class="tweet-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, s
                        ed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum d
                        olore eu fugiat nulla pariatur</div>
                </div>
                <div class="tweet-operation">
                    <div class="reply">
                        <div class="icon">reply</div>
                        <div class="numbers">210</div>
                    </div>
                    <div class="re-tweet">
                        <div class="icon">re-tweet</div>
                        <div class="numbers">55</div>
                    </div>
                    <div class="like">
                        <div class="icon">like</div>
                        <div class="numbers">1205</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="right-side"></div>
</div>

<script type="text/javascript" th:src="@{/js/confs.js}"></script>
</body>

</html>