<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head :: head"></div>
</head>

<body>
<div id="static-register">
    <div id="left-half">
        <form action="#" th:action="@{/login}" method="post">
            <div class="min-title">
                <h3>Log in</h3>
            </div>
            <input class="uk-input" type="text" name = "username" placeholder="User name">
            <input class="uk-input" type="password" name = "password" placeholder="Password">

            <button type = "submit" class="uk-button uk-button-large serrat log-button">Login</button>

            <div class="show-error uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Username/Password incorrect!</p>
            </div>
        </form>
    </div>
    <!--<div th:if="${error}" class = "error">-->
        <!--<span th:text="${error}">Default Error</span>-->
    <!--</div>-->
    <form action="#" th:action="@{/register}" th:object="${users}" method="post">
        <div id="right-half" style = "border-left: 1px solid black; padding-left: 50px;">
            <div class="min-title">
                <h3>If you don't, join us.</h3>
            </div>
            <div class="reg-form">
                <div class="user-name">
                    <div class="title">Username</div>
                    <div class="field">
                        <input class="uk-input" type="text" name = "username" placeholder="User name">
                    </div>
                </div>
                <div class="first-name">
                    <div class="title">First name</div>
                    <div class="field">
                        <input class="uk-input" type="text" name = "firstname" placeholder="First name">
                    </div>
                </div>
                <div class="last-name">
                    <div class="title">Last Name</div>
                    <div class="field">
                        <input class="uk-input" type="text" name = "lastname" placeholder="Last name">
                    </div>
                </div>
                <div class="e-mail">
                    <div class="title">Email</div>
                    <div class="field">
                        <input class="uk-input" type="text" name = "email" placeholder="email">
                    </div>
                </div>
                <div class="password">
                    <div class="title">Password</div>
                    <div class="field">
                        <input class="uk-input" type="password" name = "password" placeholder="Password">

                    </div>
                </div>

            </div>
            <div class="button-field">
                <button type = "submit" class="uk-button uk-button-large serrat">Register</button>
            </div>
        </div>
    </form>
</div>

        <div class="show-error uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>There is an error registering a user</p>
        </div>

        <div class="show-success uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Successfully registered</p>
        </div>

<script type="text/javascript" th:src="@{/js/confs.js}"></script>

</body>

</html>